@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Mulish&family=Playfair+Display&family=Roboto&display=swap');

h1 {
    font-family: "Montserrat";
    color: #29677A;
    font-size: 50px;
}